@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=League+Gothic&family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
} 

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

body{
    width: 100%;
}



.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0px;
    width: 95%;
    max-width: 1300px;
} 

.header-container {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: whitesmoke ;
    box-shadow: 0 0 10px 1px rgba(169, 167, 167, 0.6) ;
}
 
.header {
    margin: 0 auto;
    max-width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 50px;
    
    
} 

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
} 



.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Lato",sans-serif;
    color: black;
    } 

.navbar i {
    font-size: 40px;
    color: rgba(12, 12, 12, 0.6);
    cursor: pointer;
    display: none;
} 

a {
    transition: all 0.3s;
} 

a:hover {
    color: crimson;
}


#toggle-menu {
    display: none;
}

.navbar-list li:last-child > a {
    border: 1px solid rgba(169, 167, 167, 0.6);
    font-size: 14px;
    padding: 8px 40px;
    border-radius: 3px;
    transition: all 0.3 linear;
} 

.navbar-list li:last-child > a:hover {
    background-color: rgb(208, 208, 208);
    color: #121314;
    transition: all 0.3 linear;
    font-weight: 700;
} 



@media (max-width:992px){
    .header {
        padding: 0px 50px 0px 10px;
    }

    .navbar i {
        display: block;
    }
    .navbar-list {
        position: absolute;
        background-color:#b9b7b7;
        flex-direction: column;
        top: 100px;
        right: 0;
        width: 100%;
        height: calc(100vh - 100px);
        display: none;
        z-index: 9999;
    } 

    #toggle-menu:checked + .navbar-list {
        display: flex;
    }
}

#hero {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px 50px;
} 

.description-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    gap: 40px; 
} 

.text-container {
   max-width: max(40%,300px);
}

.text-container h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
} 

.text-container p {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Lato",sans-serif;
} 

.hero-img{
    background-image: url(./img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    width: 30%;
    height: 350px;
    border-radius: 5px ;
}  

@media (max-width: 768px) {
    .hero-img {
        display: none; 
    }
    .description-container {
        justify-content: center;
        align-items: center;
    } 
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
}

#about-us {
    gap: 15%;
    flex-wrap: wrap;
}

.about-img {
    background-image: url(./img/about\ us.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 300px;
    width: 300px;
    border-radius: 5px;
}

.about-content {
    height: 300px;
    width: 300px;
    flex-direction: column;
    display: flex;
    gap: 20px; 
} 

.section-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: "Lato", sans-serif;
} 

.section-p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Lato",sans-serif;
} 

.adress {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Lato",sans-serif;
} 

.about-cards-container {
    display: flex;
    gap:  30px;
}

.about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b9b7b7;
    height: 60px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
} 

.about-card:hover {
    background-color: salmon;
    transition: all 0.3s linear; 
} 

@media (max-width: 768px){
    #about-us {
        flex-direction: column;
        gap: 20px;
    }
}   

#line-up {
    flex-direction: column;
    gap: max(120px, 10%);
}

.title-container {
    display: flex;
    justify-content: space-between;
    gap: 25%;
    width: 75%;
} 

.btn-comprar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 5px; 
    border: 1rem;
    cursor: pointer;
    transition: all 0.4s;
    background-color: #b9b7b7;
} 

.btn-comprar:hover {
    background-color: salmon;
    transform: scale(1.1);
}

.catalogo-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    gap: 90px;
} 

.catalogo-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
    height: 300px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 0 10px 1px rgba(169, 167, 167, 0.6);
    border-radius: 20px;
    background-color: whitesmoke;
    transition: all 1.5s;
}

.catalogo-card-img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.catalogo-card:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.catalogo-card:first-child .catalogo-card-img {
    background-image: url(./img/catalog1.png);
} 

.catalogo-card:nth-child(2) .catalogo-card-img {
    background-image: url(./img/catalog2.png);
}

.catalogo-card:nth-child(3) .catalogo-card-img {
    background-image: url(./img/catalog3.png);
}

.catalogo-card:nth-child(4) .catalogo-card-img {
    background-image: url(./img/catalog4.png);
}

.catalogo-card:nth-child(5) .catalogo-card-img {
    background-image: url(./img/catalog5.png);
}

.catalogo-card:nth-child(6) .catalogo-card-img {
    background-image: url(./img/catalog6.png);
}
